*, *:before, *:after {
  box-sizing: border-box;
}

body{
  background:rgb(255, 255, 255);
}

p{
  font-size: 50px;
  text-align: center;
  padding: 0px;
}

#timer {
  font-size: 7em;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  color:black;
}
.form {
  background-color:white;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow: 0 0 5px #000000;
}