*, *:before, *:after {
  box-sizing: border-box;
}

body{
  background:white;
}

#timer {
  font-size: 7em;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}
.form {
  background:grey;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow: 0 0 5px #888;
}